.navbar{
  text-align: center;
  padding: 20px;
}

.form{
  text-align: center;
}

.table{
  border-spacing: 20px 5px;
  
}

thead {
  display: flex;
  flex-direction: row;
  /* column-gap: 200px;
  row-gap: 200px; */

}
/* tbody::before
{
  content: '';
  display: block;
  height: 15px;

} */

/* tbody {
  border-top: 15px solid white;
} */

/* td {
  padding: 10px 0;
} */


.submit{
  margin-top: 10px;
  padding: 10px;
}

.input{
  margin-top: 1px;
  padding: 5px;
}